
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {  /* asterisk(*) refers to all  */
    font-family: "Noto Sans Mono";
    font-family: "Noto Sans";
}


html{
    min-height: 100%;
}

body, main{
    height: 100%;
    width: auto;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
  }



body{
    background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url();
}


header {
    background: rgb(202, 202, 202);
    width:100%;
    margin:0px;
    position: fixed;
    z-index: 10;
}

.header_nav{
    padding: 3px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#preview{
    margin-bottom: 12%;
}

#preview a:hover {
    color: rgb(75, 75, 75);
    background-color: rgb(0, 255, 0, 0.1);
}

#table td:hover {
    /* font-weight: bold; */
    transform:scale(1.01);
    background-color: rgb(0, 255, 0, 0.1);
}


.main_title, .domain, .domain_title, .category{
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.main_title {
    border: 6px solid gray;
    border-radius: 25px;
    background-color: white;
    width: 50%;
    float: center;
    border-style: solid;
    padding: 2px;
    margin: 0px auto 10px;
    text-align: center;
    font-size: x-large;
}

.view_switch{
    justify-content: center;
    display: flex;
    color: white;
    background-color: black;
    width:35%;
    margin:auto;
    border-radius: 10px;
  }

  #view_mode{
    width: 80px;
    text-align: center;
  }

.exp_list{
   display: none;
}
.domain_title{
    border: 3px solid gray;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    margin:20px auto 0;
    padding: 1px 10px 1px;
    text-align: center;
    display: inline-block;
}

.domain{
    border: 2px solid rgb(255, 255, 255,0.5);
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.125);
    width:95%;
    margin:15px auto 75px;
    text-align: center;
}

.category_title{
    margin:1% auto 1%;
    width:auto;
    display: inline-block;
}
.category{
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    background-color: rgb(255, 255, 255,0.25);
    margin:20px auto 25px;
    width: auto;
    display: inline-block;
    overflow: hidden;
}

.flexbox{
    /* border: 2px solid rgb(255, 255, 255, 0.5); */
    border-radius: 20px;
    background-color: rgb(255,255,255,0.5);
    width: auto;
    margin:auto;
    display: flex;
    justify-content: space-around;
}

.exp_title{
    padding: 2% 0 0.5%;
    width:45vw;
    font-weight: bold;
}

.experiment{
    width: auto;
    height: 370px;
    margin: 0 1% 0;
    position:relative;
}

.js_img{
    width: 38vw;
    border-radius: 10px;
    position: absolute;
    top: -9960px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    transition: transform .2s;
}

.js_img:hover{
    transform: scale(1.025);
  }

#table{
    display: none;
}

table{
    margin:  auto ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

table thead tr {
    background-color: #2196F3;
    color: #ffffff;
    text-align: left;
}

table th, table td {
    padding: 3px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

 main{
    position: relative;
}


.institutes{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0px auto 0px;
    padding: 10px 0 30px 0;
    align-items:center;
    position:absolute;
    bottom:0;
    vertical-align: bottom;
    position: fixed;
}

.institutes img{
    transition: transform .2s;
}

.institutes img:hover{
    transform: scale(1.1);
  }

.iast_logo{
    width: 200px;
}
.edb_logo{
    width: 100px;
}
.crca_logo{
    width: 150px;
}

footer{
    position: fixed;
    bottom:0px;
    height:30px;
    width:100%;
    background: rgb(202, 202, 202);;
    z-index: 1;
    justify-content: space-around;
    opacity: 0.97;
    }

footer > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto;
}
